/* #subscribeButton {
    background-color: rgb(199, 0, 0);
    color: white;
    border: none;
    height: 36x;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 1s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}
#joinbutton {
    background-color: rgb(255, 255, 255);
    color: rgb(41, 118, 211);
    border: solid;
    height: 36x;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    border-color: rgb(41, 118, 211);
    border-width: 2px;
}

#tweetbutton {
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 18px;
    cursor: pointer;
    font-weight: bold;
}

#header {
    display: inline;
}
#hrheader {
    width: 10px;
}

#subscribeButton:hover {
    opacity: 0.8;
}

#subscribeButton:active {
    opacity: 0.5;
}

#addtocart {
        background-color: rgb(255, 216, 20);
        border: none;
        height: 30px;
        width: 140px;
        border-radius: 15px;
        cursor: pointer;
     }
    
      .amazon-button:hover {
        background-color: rgb(245, 205, 3);
      }

    #text1 {
        font-family: arial;
        font-size: 18px;
        font-weight: bold;
        line-height: 26px;
        width: 300px;
        margin-bottom: 0;
    }
    #vidstats {
        color: #606060;
        font-size: 15px;
        font-family: Arial;
        margin-top: 0;
    }
    #channelName {
        color: #606060;
        font-size: 15px;
        font-family: Arial;
        margin-top: 18px;
    }
    #description {
        color: #606060;
        font-size: 14px;
        font-family: Arial;
        line-height: 19px;
    }

    #apple {
        padding: 16px;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 16px;
        background-color: rgb(227, 65, 64);
        color: white;
        text-align: center; */


    /* #shop {
        cursor: pointer;
    }
    #shop:hover{
        text-decoration: underline;
    } */  
.thumbnail {
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
}


.channel-pfp {
    border-radius: 50px;
}


.channelpfp {
    width: 40px;
    border-radius: 50px;
}

.vidtitle {
    margin-top: 0px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.thumbnail-row {
    margin-bottom: 12px;
    position: relative;
}

p {
    font-family: Roboto , Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.vidauthor , .vidstats{
    font-size: 12px;
    color: rgb(96 , 96 , 96);
}

.vidauthor {
    margin-bottom: 4px;
}
 
.vidinfo-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 35px;
}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.thumbnail:hover {
    transition-duration: 1.5s;
    border-radius: 0px;
}

.video-preview {
    cursor: pointer;
}

.vid-time {
  position: absolute;
  color: white;
  background-color: black;
  font-family: Arial, Roboto;
  bottom: 8px;
  right: 5px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
}
